 body {
 	font: 76%/170% Verdana, sans-serif;
 }
 #progress_bar {
	border-collapse:collapse;	
	table-layout:fixed;
}
#progress_bar td {
	border: 1px solid black;
	vertical-align:middle;
	text-align:center;
}

#progress_bar td.not_done {
	background-color:#FAA;
}

#progress_bar td.working {
	background-color:#FFA;
}

#progress_bar td.done {
	background-color:#AFA;
}

.document_toolbar {
	position:absolute;
	width:97.6%;
	left:13px;
	top:44px;
	background-color: #d3ebf9;
	padding:5px;
}
.content {
	margin:-15 -15 0px;
}
#current_document_content {
	/*position:absolute;
	left:13px;
	top:94px;
	*/
	background-color: #EEE;
	width:700px;
	border:1px solid grey;
    box-shadow: 10px 10px 5px #888888;
    padding:5px;
    margin-top:15px;
    margin-left:-20px;
    float:left;
    font-family:"Cambria", Georgia, serif;
    font-size:1.2em;
}

#current_document_fullscreen {
	width:900px;
}

#current_annotation_content {
	/*
	position:absolute;
	left:733px;
	top:94px;
	*/
	float:right;
	width:225px;
	border:1px solid grey;
    padding:5px;
    font-family:"calibri", "Garamond", "Comic Sans";
    margin-top:15px;
    margin-right:-20px;
    font-size: 1.2em;
}
.doc {
	background-color: #EEE;
	width:450px;
	border:3px solid black;
    box-shadow: 10px 10px 5px #888888;
}
.annotation {
	width:200px;
    padding: 3px 5px; 
 	line-height: 80%;    
    border-radius: 12px;
    font-size: 0.9em;
    margin-top:5px;
    margin-bottom:5px;
 	overflow: hidden;
}
.confidential_annotation {
	border:2px solid #E1DAC1; /*off white*/
    background: #FFFFCC; /*light off white*/
    margin-left:15px;
}

.public_annotation{
    border: 2px solid blue; /*blue*/
    background: #CCFFFF; /*light blue*/
    margin-left:15px;
}
.data_clause_textarea {
    background:'#E0E0E0';
    width:400px;
	resize: none;
	border:1px solid red;
    box-shadow: 0 0 10px #719ECE;	
}
.edit-section {
    background:'#E0E0E0';
	border:"1px dotted black";
}

#current_document_content p:hover {
	background: #CCCCCC;
	text-decoration:none;
}

#save_button {
	float:right;
}

.pull-right {
	float:right;
}
.pull-left {
	float:left;
}

#annotation_selector {
	float:right;
}

#document_footer {
	background-color: #d3ebf9;
	height:50px;
	margin:40 0 5 -20px;
	padding:5px;
}

#initial_step { width:10% }
#demographic_step { width:10% }
#question_step { width:70% }
#conclusion_step { width:10% }

#basic_document_info {
	border:0px;
	width:500px;
	border-collapse:separate;
}
/*From bootstrap.css */
/*style='display:block;margin-bottom:5px; float:left; width:400px;	padding-top: 5px;text-align:right;'*/
.demographic-label {
	float: left;
	width: 400px;
	padding-right: 8px;
	text-align: right;
}
.demographic-input {
	width:200px;
}
.demographic-changed {
	color:blue;
	font-weight:bold;
}
div.ui-tooltip {
    max-width: 400px;
    padding:5px;
}

label {
	display: block;
	margin-bottom: 5px;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
#command_bar label {
	display: inline-block;
	width: 170px;
	text-align: right;
}

.both {
	clear:both;
}
​
/* Change answer */
.current_question {
	float: left;
    padding-right: 8px;
    text-align: right;
    width: 400px;
	border:1px solid red;
}
.current_answer {
	float:left;
	width:300px;
	border:1px solid blue;
}
.change_answer {
	float:left;
	width:300px;
	border:1px solid green;
}

.question-label {
	float: left;
	width: 400px;
	padding-right: 8px;
	text-align: right;
}
.change-answer-intro {
	padding:10 200px;
}