 body {
 	font: 76%/170% Verdana, sans-serif;
 }
 #progress_bar {
	border-collapse:collapse;
	table-layout:fixed;
}
#progress_bar td {
	border: 1px solid black;
	vertical-align:middle;
	text-align:center;
}

#progress_bar td.not_done {
	background-color:#FAA;
}

#progress_bar td.working {
	background-color:#FFA;
}

#progress_bar td.done {
	background-color:#AFA;
}

.document_toolbar {
	position:absolute;
	width:97.6%;
	left:13px;
	top:44px;
	background-color: #d3ebf9;
	padding:5px;
}
.content {
	margin:-15 -15 0px;
}
#current_document_content {
	/*position:absolute;
	left:13px;
	top:94px;
	*/
	width:700px;
	border:1px solid grey;
    box-shadow: 10px 10px 5px #888888;
    padding:5px;
    margin-top:15px;
    margin-left:-20px;
    float:left;
    font-family:"Cambria", Georgia, serif;
    font-size:1.2em;
}
.document-locked {
	background-color: #EEE;
}

#current_annotation_content {
	/*
	position:absolute;
	left:733px;
	top:94px;
	*/
  position:relative;
	float:right;
	width:225px;
	border:1px solid grey;
    padding:5px;
    font-family:"calibri", "Garamond", "Comic Sans";
    margin-top:15px;
    margin-right:-20px;
    font-size: 1.2em;
}
.doc {
	background-color: #EEE;
	width:450px;
	border:3px solid black;
    box-shadow: 10px 10px 5px #888888;
}
.annotation {
	width:200px;
    padding: 3px 5px;
 	line-height: 80%;
    border-radius: 12px;
    font-size: 0.9em;
    margin-top:5px;
    margin-bottom:5px;
 	overflow: hidden;
}
.confidential_annotation {
	border:2px solid #E1DAC1; /*off white*/
    background: #FFFFCC; /*light off white*/
    margin-left:15px;
}

.public_annotation{
    border: 2px solid blue; /*blue*/
    background: #CCFFFF; /*light blue*/
    margin-left:15px;
}
.edit_annotation_textarea {
  background:'#E0E0E0';
	resize: none;
	border:1px solid red;
  box-shadow: 0 0 10px #719ECE;
  max-width: 510px;
  margin: 5px;
}
.edit-section {
  background:'#E0E0E0';
	border:"1px dotted black";
}

.download-button-container {
	float:right;
	color:rgba(255,255,150,0.2);
}
#download-pdf {
	color:red;
}
#download-word {
	color:blue;
}


#version_version_button {
	float:right;
}

.pull-right {
	float:right;
}
.pull-left {
	float:left;
}

#annotation_selector {
	float:right;
}

#document_footer {
	background-color: #d3ebf9;
	height:50px;
	margin:40 0 5 -20px;
	padding:5px;
}

#initial_step { width:10% }
#demographic_step { width:10% }
#question_step { width:70% }
#conclusion_step { width:10% }

#basic_document_info {
	border:0px;
	width:500px;
	border-collapse:separate;
}
/*From bootstrap.css */
/*style='display:block;margin-bottom:5px; float:left; width:400px;	padding-top: 5px;text-align:right;'*/
.demographic-label {
	float: left;
	width: 400px;
	padding-right: 8px;
	text-align: right;
}
.demographic-input {
	width:200px;
}

.ui-tooltip {
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
}

label {
	display: block;
	margin-bottom: 5px;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
#command_bar label {
	display: inline-block;
	width: 170px;
	text-align: right;
}

.both {
	clear:both;
}
​
/* Change answer */
.current_question {
	float: left;
    padding-right: 8px;
    text-align: right;
    width: 400px;
	border:1px solid red;
}
.current_answer {
	float:left;
	width:300px;
	border:1px solid blue;
}
.change_answer {
	float:left;
	width:300px;
	border:1px solid green;
}

.question-label {
	float: left;
	width: 450px;
	padding-right: 8px;
	text-align: right;
}

.second-page-intro {
	margin: 25px 50px;
	font-weight: bold;
}

/* displayCurrentDocument(data) */
.section {
  both: off;
  border: 1px solid red;
  padding: 0px 10px;
}
.major-version {
  float: left;
  width: 30px;
}
.minor-version {
  float: left;
  width: 35px;
  margin-left:25px;
}
.section-name {
  width: auto;
  text-transform: uppercase;
  text-decoration: underline;
}
div.clause-paragraph {
  width:auto;
  height:auto;
  margin-bottom:20px;
}
.clause-container {
  width: auto;
  margin-left:65px;
}
p.clause {
	margin:0px;
	padding: 0px 15px;
}
p.clause-locked {
	margin:0px;
	padding: 0px 15px;
}
/*
p.clause:hover{
	background-color:#cccccc;
	outline: 1px solid DeepSkyBlue;
	box-shadow: 0 0 10px #9ecaed;
  	border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    #d3ebf9
}
*/

p.clause:hover{
	outline: 1px solid #B8D6FB;
  	border-color: #9ecaed;
}
p.clause:focus{
	background-color: #F0F0F0;
	outline: 1px solid DeepSkyBlue;
	box-shadow: 0 0 10px #9ecaed;
  	border-color: #9ecaed;
}

.clause-changed {
	background-color:LightGoldenRodYellow;  /* LightYellow */
	outline:1px solid #A0981D; /* Highlight Yellow */
}
.answer-changed {
	background-color:MistyRose;  /* Misty Rose*/
	outline:1px solid #FC981D; /*  Red highlight */
}
.fa-lock-style{
	color:gold;
	margin:0px 10px;
	text-shadow: 2px 2px 2px #ccc;
	/*
  font-size: 2em;
  line-height: 0.75em;
  vertical-align: -15%;
*/
    /*font-size: 1.5em;*/
    /*line-height: 0.75em;*/
/*    vertical-align: -15%;	*/
}

.clear {
  clear: both;
}
.document-editable {
	background-color:white;
}
.document-title {
	font-size:1.7em;
	margin-bottom:5px;
}
.document-version {
	font-size:.9em;
	margin-left:5px;
}
textarea {
	width:98%;
	height: auto;
	border: none;
	/*resize: none;	*/
}

/* Removing styles for Accordion*/

.ui-accordion .ui-accordion-content {
	padding: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color:none;
}

.ui-icon {
	float:right;
}
.ui-widget-content {
	border: 0px;
}
.ui-state-default {
	border: 0px;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-color:inherit;
}
.ui-widget-header {
	background-color:inherit;
}
.ui-helper-reset {
    font-size: 100%;
    list-style: none outside none;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
