#progress_bar {
	border-collapse:collapse;	
	table-layout:fixed;
}

#progress_bar td {
	border: 1px solid black;
	vertical-align:middle;
	text-align:center;
}

#progress_bar td.not_done {
	background-color:#FAA;
}

#progress_bar td.working {
	background-color:#FFA;
}

#progress_bar td.done {
	background-color:#AFA;
}

#command_bar {
	position:absolute;
	width:97.6%;
	left:13px;
	top:44px;
	background-color: #d3ebf9;
	padding:5px;
}

#current_document_content {
	position:absolute;
	left:13px;
	top:94px;
	background-color: #EEE;
	width:700px;
	border:1px solid grey;
    box-shadow: 10px 10px 5px #888888;
    padding:5px;
    float:left;
}

#current_annotation_content {
	position:absolute;
	left:733px;
	top:94px;
	width:250px;
	border:1px solid grey;
    padding:5px;
    font-family:"calibri", "Garamond", "Comic Sans";
}
#current_annotation_content h1 {
	font-weight:bold;
 	line-height: 95%;    
}

.doc {
	background-color: #EEE;
	width:450px;
	border:3px solid black;
    box-shadow: 10px 10px 5px #888888;
}

.annotation {
	width:200px;
    padding: 3px 5px; 
 	line-height: 80%;    
    border-radius: 12px;
    font-weight:6px;
    margin-top:5px;
    margin-bottom:5px;

}
.annotation_label {
	font-weight:bold;
}
.confidential_annotation {
	border:3px solid #FF0000; /*red*/
    background: #FFD5D5; /*pink*/
    margin-left:5px;
}
.public_annotation{
    border: 3px solid green;
    background: #99FF99;
    margin-left:32px;
 	overflow: hidden;
}
.both {
	clear:both;
}
.clause a:hover {
	background: #999966;
	text-decoration:none;
}

#save_button {
	float:right;
}

#annotation_selector {
	float:right;
}

#initial_step { width:10% }
#demographic_step { width:10% }
#question_step { width:70% }
#conclusion_step { width:10% }

#basic_document_info {
	border:0px;
	width:500px;
	border-collapse:separate;
}
/*From bootstrap.css */
/*style='display:block;margin-bottom:5px; float:left; width:400px;	padding-top: 5px;text-align:right;'*/
.demographic-label {
	float: left;
	width: 400px;
	padding-right: 8px;
	text-align: right;
}
.demographic-input {
	width:200px;
}
.demographic-changed {
	color:red;
	font-weight:bold;
}

label {
	display: block;
	margin-bottom: 5px;
}
label, input, button, select, textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}
#command_bar label {
	display: inline-block;
	width: 140px;
	text-align: right;
}​
